<style>
p {
    font-family: "Helvetica", sans-serif;
    line-height: 115%;

}

</style>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="well text-center">
                    <strong>
                    Welcome to the Greater Poweshiek Community Foundation Grant Application System!
                    </strong>
                </h3>
            </div>

        </div>



        <div class="row">
            <div class="col-md-4">
                <h3><strong>Our Mission</strong></h3>
                <div class="well text-left">
                <p style = "font-size: large">The Greater Poweshiek Community Foundation is committed to strengthening communities and inspiring philanthropy by:
                <strong>
                <ul>
                <li> Connecting donors with organizations and causes</li>
                <li> Investing funds responsibly</li>
                <li> Giving back to the greater Poweshiek service area</li>
                <li> Supporting nonprofits</li>
                <li> Facilitating community partnerships</li>
                </p>
                </ul>
                </strong>
                <a class="btn btn-default" href="http://greaterpcf.org/" target = "_blank">About GCPF</a>
                </div>
            </div>
            
            <div class="col-md-4">
                <h3><strong>View Programs</strong></h3>
                <div class="well text-left" style = "font-size: small">
                <p style = "font-size: large">To see more information about the current programs, please visit the grant programs page.</p>
                <a class="btn btn-default" href="/programs">Grant Programs</a>
                </div>
            </div>

            <div class="col-md-4">
                <h3><strong>Apply Now</strong></h3>
                <div class="well text-left" style = "font-size: small">
                <p style = "font-size: large">You can apply for grants via the programs page. To apply for a grant you must sign in or sign up and apply with one of the following file types: .pdf, .txt, .doc/docx, or .xls/.xlsx. </p>
                <a class="btn btn-default" href="/users/sign_up">Sign Up</a>
                </div>
            </div>


        </div>
        