<h3> Welcome to the Greater Poweshiek Community Foundation's Grant Application System!</h3>
<p> 
<h4>Our Mission:</h4>

The Greater Poweshiek Community Foundation is committed to strengthening communities and inspiring philanthropy by connecting donors with organizations 
and causes, investing funds responsibly, giving back to the greater Poweshiek service area, supporting nonprofits and facilitating community partnerships.

</p>
<h4> To apply for a grant, sign up and apply with an .pdf, .txt, .doc/.docx, or .xls/.xlsx</h4>
