<!-- this is the html code for the email that will be sent as a reminder of when applications are coming due. obviously the sample text needs to be replaced. -->
<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi <%= @user.name %></h1>
        <p>
            Temperary sample text
        </p>
    </body>
</html>