<%- model_class = App -%>
<div class="page-header">
  <h2><%=t 'Edit Application for' + @app.program.title , :model => model_class.model_name.human.titleize %></h2>
</div>
<%= render :partial => 'form' %>
