<div class="row">
	<div class="col-md-4">
		<p>
		<h3>Contact Information</h3>
		<br />Greater Poweshiek Community Foundation
		<a class="email" href="mailto:g%70&#99;&#102;&#64;%67r%65%61&#116;&#101;%72&#112;&#99;&#102;%2e&#111;%72%67">gpcf&#64;&#103;re&#97;t&#101;&#114;&#112;&#99;&#102;&#46;o&#114;g</a><br />
		641.236.5518<br />P.O. Box 344<br />1510 Penrose Street<br />Grinnell, IA 50112	
		</p>
	</div> <!--col-md-4-->
<div class="col-md-4">
	<p><img src="http://greaterpcf.org/wp-content/uploads/2015/09/National-Standards-logo-for-web.gif" /></p>
	<p>The National Standards Seal by our name indicates official confirmation from the Council on Foundations that we have met the most rigorous standards in philanthropy. It affirms our commitment to financial security, transparency and accountability.</p>
	<p>The Greater Poweshiek Community Foundation received this seal of approval in January 2010.</p>
	<p><a href="http://greaterpcf.org/wp-content/uploads/2015/09/gpcf_confidentiality_policy.pdf"><strong>Confidentiality Policy</strong></a></p>
	<p><a href="http://greaterpcf.org/wp-content/uploads/2015/09/gpcf_privacy_policy.pdf"><strong>Privacy Policy</strong></a></p>
</div><!--col-md-4-->
<div class="col-md-4">
	<h3>Join Us On Facebook</h3><script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, "script", "facebook-jssdk"));
		</script>
		<div class="fb-page" data-href="https://www.facebook.com/greaterpcf/?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
		<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/greaterpcf/?fref=ts"><a href="https://www.facebook.com/greaterpcf/?fref=ts">Facebook</a></blockquote></div></div>
<a href="javascript:void(0);" id="slide_top" class="cmsms_theme_icon_slide_top"></a>
</div><!--col-md-4-->
</div>
<div class="row">
	<br />
	<br />
		<span class="copyright">©2016 Greater Poweshiek Community Foundation  |  All Rights Reserved</span>
</div>