<footer>
    <p class="text-muted">&copy; Greater Poweshiek Community Foundation</p>
</footer>
    <p><h5>&copy; Greater Poweshiek Community Foundation</h5></p>
</footer>
<section id="bottom" class="cmsms_color_scheme_footer">
<div class="bottom_bg">
<div class="bottom_outer">
<div class="bottom_inner sidebar_layout_14141414">
<aside id="custom-contact-info-2" class="widget widget_custom_contact_info_entries"><h3 class="widgettitle">Contact Information</h3><span class="contact_widget_name cmsms_theme_icon_person"><span class="fn contact_widget_name_inner">Greater Poweshiek Community Foundation</span></span><span class="contact_widget_email cmsms_theme_icon_user_mail"><a class="email" href="mailto:g%70&#99;&#102;&#64;%67r%65%61&#116;&#101;%72&#112;&#99;&#102;%2e&#111;%72%67">gpcf&#64;&#103;re&#97;t&#101;&#114;&#112;&#99;&#102;&#46;o&#114;g</a></span><span class="contact_widget_phone cmsms_theme_icon_user_phone"><span class="tel">641.236.5518</span></span><div class="adr adress_wrap cmsms_theme_icon_user_address"><span class="street-address contact_widget_address">P.O. Box 344</span><span class="locality contact_widget_city">1510 Penrose Street</span><span class="region contact_widget_state">Grinnell, IA 50112</span></div></aside><aside id="text-2" class="widget widget_text">			<div class="textwidget"><p><img src="http://greaterpcf.org/wp-content/uploads/2015/09/National-Standards-logo-for-web.gif" /></p>
<p>The National Standards Seal by our name indicates official confirmation from the Council on Foundations that we have met the most rigorous standards in philanthropy. It affirms our commitment to financial security, transparency and accountability.</p>
<p>The Greater Poweshiek Community Foundation received this seal of approval in January 2010.</p>
<p><a href="http://greaterpcf.org/wp-content/uploads/2015/09/gpcf_confidentiality_policy.pdf"><strong>Confidentiality Policy</strong></a></p>
<p><a href="http://greaterpcf.org/wp-content/uploads/2015/09/gpcf_privacy_policy.pdf"><strong>Privacy Policy</strong></a></p>
</div>
		</aside><aside id="custom-facebook-2" class="widget widget_custom_facebook_entries"><h3 class="widgettitle">Join Us On Facebook</h3><div id="fb-root"></div><script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, "script", "facebook-jssdk"));
		</script><div class="fb-page" data-href="https://www.facebook.com/greaterpcf/?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/greaterpcf/?fref=ts"><a href="https://www.facebook.com/greaterpcf/?fref=ts">Facebook</a></blockquote></div></div>
</section>
<!-- _________________________ Finish Bottom _________________________ -->

<a href="javascript:void(0);" id="slide_top" class="cmsms_theme_icon_slide_top"></a>
	</div>
<!-- _________________________ Finish Main _________________________ -->

<!-- _________________________ Start Footer _________________________ -->
	<footer id="footer" role="contentinfo" class="cmsms_color_scheme_footer cmsms_footer_small">
		<div class="footer_bg">
			<div class="footer_inner">
		<span class="copyright">©2015 Greater Poweshiek Community Foundation  |  All Rights Reserved</span>
			</div>
		</div>
	</footer>
